package ${package.Controller};

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.monster.base.develop.common.Condition;
import com.monster.base.develop.common.R;
import com.monster.base.develop.entity.Query;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import io.swagger.annotations.ApiParam;
import lombok.AllArgsConstructor;
import org.springframework.web.bind.annotation.*;

import javax.validation.Valid;


/**
 *
 * $!{table.comment} 控制器
 *
 * @author ${author}
 * @date ${date}
 */
@RestController
@AllArgsConstructor
@RequestMapping("#if($!{package.ModuleName})/$!{package.ModuleName}#end/$!{table.entityPath}")
@Api(value = "$!{table.comment}", tags = "$!{table.comment}接口")
#if($!{superControllerClass})
public class $!{table.controllerName} extends $!{superControllerClass} {
#else
public class $!{table.controllerName} {
#end

    private $!{table.serviceName} $!{table.entityPath}Service;

    @GetMapping("/detail")
    @ApiOperation(value = "详情")
    public R<$!{entity}> detail(@ApiParam(value = "主键id", required = true) @RequestParam Long id) {
        return R.data($!{table.entityPath}Service.getById(id));
    }

    @GetMapping("/page")
    @ApiOperation(value = "分页查询")
    public R<IPage<$!{entity}VO>> page($!{entity}DTO $!{table.entityPath}, Query query) {
        return R.data($!{table.entityPath}Service.get$!{entity}Page(Condition.getPage(query), $!{table.entityPath}));
    }

    @PostMapping("/submit")
    @ApiOperation(value = "新增或修改")
    public R<Boolean> submit(@Valid @RequestBody $!{entity} $!{table.entityPath}) {
        return R.data($!{table.entityPath}Service.saveOrUpdate($!{table.entityPath}));
    }

    @PostMapping("/remove")
    @ApiOperation(value = "逻辑删除")
    public R<Boolean> remove(@ApiParam(value = "主键ids", required = true) @RequestParam String ids) {
        return R.data($!{table.entityPath}Service.removeByIds(Func.toLongList(ids)));
    }
}