package $!{package.Mapper};

import $!{package.Entity}.$!{entity};
import ${superMapperClassPackage};
import org.apache.ibatis.annotations.Param;

import java.util.List;


/**
 * $!{table.comment} Mapper 接口
 *
 * @author $!{author}
 * @date $!{date}
 */
public interface $!{table.mapperName} extends $!{superMapperClass}<$!{entity}> {

    /**
    * 分页查询
    *
    * @param page 分页
    * @param $!{table.entityPath} 查询条件
    * @return List<$!{entity}VO>
    */
    List<$!{entity}VO> get$!{entity}Page(IPage<$!{entity}VO> page, @Param("pm") $!{entity}DTO $!{table.entityPath});

}

